.header {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 0.1px solid lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;    
    position: sticky;
    top: 0;
    z-index: 999;
    height: 40px;
}

.header__left{
    display: flex;
}

.header__left > img {
    object-fit: contain;
    height: 40px;
    margin-right: 10px;
    cursor: pointer;
}
.header__search{
    padding: 10px;
    display: flex;
    
    align-items: center;
    border-radius: 5px;
    color: gray;
    background-color: #eef3f8;
    
}

.header__search > input {
    outline: none;
    border: none;
    background: none;
    font-weight: 500;
}

.header__right { 
    display: flex;
    height: 40px;
} 