.inputOption{
    display: flex;
    margin-top: 5px;
    align-items: center;
    padding: 10px;
}

.inputOption:hover{
    background-color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;

}

.inputOption > h4 {
    margin-left: 5px;
    font-size: 12px;
    font-weight: 500;
    color: gray;
}