.post{
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    flex: 0.8;
}

.post__header{
    display: flex;

}

.post__info{
    margin-left: 10px;
}
.post__info > p {
    font-size: 12px;
    color: gray;
}
.post__info > h2 {
    font-size: 15px;
}

.post__body {
    overflow-wrap: anywhere;
    margin-top: 10px;
}

.post__buttons {
    display: flex;
    color: gray;
    justify-content: space-evenly;
}